@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.bg-custom {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-family: "Roboto Slab", serif;
}

.cart {
  position: relative;
}

.counter {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(24%, -33%);
}
